[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
transaction-isolation = READ-COMMITTED
key_buffer_size = 32M
max_allowed_packet = 32M
thread_stack = 256K
thread_cache_size = 64
max_connections = 3000
log_bin=/var/lib/mysql/mysql_binary_log
server_id=1
binlog_format = mixed
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit  = 2
innodb_log_buffer_size = 64M
innodb_buffer_pool_size = 4G
innodb_thread_concurrency = 8
innodb_flush_method = O_DIRECT
innodb_log_file_size = 512M
explicit_defaults_for_timestamp=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock


##MySQL8.0配置文件参数大全: from https://www.toutiao.com/article/7210051565217006139/
[client]
port：指定连接MySQL服务器时使用的TCP/IP端口。
socket：指定连接MySQL服务器时使用的Unix域套接字文件。
protocol：指定客户端使用的协议。
default-character-set：指定默认的字符集

[mysql]
no-auto-rehash：禁用自动补全功能。
auto-rehash：启用自动补全功能。
auto-vertical-output：启用垂直输出模式。
pager：指定分页器命令。
show-warnings：显示警告信息。
tee：将结果输出到文件和标准输出。
tee-append：将结果追加到文件和标准输出。
skip-pager：禁用分页器功能。
table：以表格形式显示结果。
unbuffered：使用非缓冲模式。
vertical：以垂直形式显示结果。
connect_timeout：连接MySQL服务器的超时时间。
database：连接MySQL服务器后默认使用的数据库。
histignore：指定命令历史记录中需要忽略的命令。
user：连接MySQL服务器的用户名。
password：连接MySQL服务器的密码。
ssl-ca：SSL证书授权文件路径。
ssl-capath：SSL证书授权文件目录路径。
ssl-cert：SSL证书文件路径。
ssl-cipher：SSL加密算法。
ssl-key：SSL私钥文件路径。
ssl-crl：SSL证书吊销列表文件路径。
ssl-crlpath：SSL证书吊销列表文件目录路径。
tls-version：TLS版本。

[mysqld]
back_log：指定监听队列的最大长度。
bind-address：指定MySQL监听的IP地址。
binlog_expire_logs_seconds：指定binlog日志文件过期时间。
binlog_format：指定binlog日志文件格式。
character_set_client：指定客户端默认字符集。
character_set_connection：指定连接默认字符集。
character_set_database：指定数据库默认字符集。
character_set_filesystem：指定文件系统默认字符集。
character_set_results：指定查询结果默认字符集。
character_set_server：指定MySQL服务器默认字符集。
collation_connection：指定连接默认排序规则。
collation_database：指定数据库默认排序规则。
collation_server：指定MySQL服务器默认排序规则。
connect_timeout：连接MySQL服务器的超时时间。
datadir：指定MySQL数据文件存放的目录。
default_authentication_plugin：指定默认的身份验证插件。
default-storage-engine：指定默认的存储引擎。
expire_logs_days：指定binlog日志文件过期时间，单位为天。
explicit_defaults_for_timestamp：指定是否显示timestamp列的默认值。
ft_boolean_syntax：指定全文搜索的布尔语法。
ft_max_word_len：指定全文搜索的最大词长度。
ft_min_word_len：指定全文搜索的最小词长度。
innodb_buffer_pool_instances：指定InnoDB缓冲池的实例数量。
innodb_buffer_pool_size：指定InnoDB缓冲池的大小。
innodb_data_file_path：指定InnoDB数据文件的路径和大小。
innodb_file_per_table：指定是否为每个InnoDB表创建单独的数据文件。
innodb_flush_log_at_trx_commit：指定每个事务提交时是否将日志缓冲区写入磁盘。
innodb_log_buffer_size：指定InnoDB日志缓冲区的大小。
innodb_log_file_size：指定InnoDB日志文件的大小。
innodb_log_files_in_group：指定InnoDB日志文件的数量。
innodb_max_dirty_pages_pct：指定InnoDB缓冲池中最大脏页的百分比。
innodb_open_files：指定InnoDB打开的最大文件数。
innodb_thread_concurrency：指定InnoDB线程并发数。
join_buffer_size：指定Join缓冲区的大小。
key_buffer_size：指定键缓冲区的大小。
local-infile：指定是否允许使用LOAD DATA LOCAL INFILE语句。
log-error：指定错误日志文件的路径和文件名。
log_output：指定日志输出的方式。
log_queries_not_using_indexes：指定是否记录未使用索引的查询。
log_slow_admin_statements：指定是否记录缓慢的管理员语句。
log_slow_slave_statements：指定是否记录缓慢的从库语句。
log_slow_verbosity：指定缓慢查询日志的详细程度。
long_query_time：指定查询执行时间超过该值时，被视为缓慢查询。
lower_case_table_names：指定表名是否忽略大小写。
max_allowed_packet：指定最大的数据包大小。
max_connections：指定MySQL服务器支持的最大连接数。
myisam_max_sort_file_size：指定MyISAM排序临时文件的最大大小。
myisam_sort_buffer_size：指定MyISAM排序缓冲区的大小。
pid-file：指定进程ID文件的路径和文件名。
port：指定MySQL监听的TCP/IP端口。
query_cache_limit：指定查询缓存结果的最大大小。
query_cache_size：指定查询缓存的大小。
query_cache_type：指定查询缓存的类型。
query_cache_wlock_invalidate：指定是否在写锁定表时使查询缓存无效。
query_prealloc_size：指定查询分配器的预分配大小。
range_alloc_block_size：指定B树范围分配器的块大小。
read_buffer_size：指定读缓冲区的大小。
read_only：指定是否启用只读模式。
read_rnd_buffer_size：指定随机读缓冲区的大小。
server-id：指定MySQL服务器的ID。
skip_external_locking：指定是否跳过外部锁定。
skip_name_resolve：指定是否禁用DNS名称解析。
socket：指定MySQL服务器的Unix套接字文件的路径。
sort_buffer_size：指定排序缓冲区的大小。
sql_mode：指定SQL模式。
ssl_ca：指定SSL证书颁发机构的CA证书文件。
ssl_capath：指定SSL证书颁发机构的CA证书目录。
ssl_cert：指定SSL服务器证书文件。
ssl_cipher：指定SSL使用的加密算法。
ssl_key：指定SSL服务器私钥文件。
storage_engine：指定默认的存储引擎。
sync_binlog：指定是否同步写入二进制日志文件。
sync_frm：指定是否同步写入.frm文件。
table_open_cache：指定表缓存的大小。
thread_cache_size：指定线程缓存的大小。
tmp_table_size：指定临时表的最大大小。
tmpdir：指定临时文件目录的路径。
transaction_alloc_block_size：指定B树事务分配器的块大小。
transaction_prealloc_size：指定事务分配器的预分配大小。
tx_isolation：指定默认的事务隔离级别。
updatable_views_with_limit：指定视图是否支持带有LIMIT的UPDATE和DELETE操作。
wait_timeout：指定连接空闲多长时间后被断开。

my.cnf示例
[mysqld]
user=mysql
port = 13306
socket = /tmp/mysql.sock
datadir = /data/mysql/data
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci
server-id = 1
max_connections = 10000
group_concat_max_len = 102400
max_connect_errors = 10
table_open_cache = 4096
event_scheduler = ON
skip-name-resolve
#lower_case_table_names = 1   #0表区分大小写，1表示不区分大小写
max_allowed_packet = 64M
binlog_cache_size = 32M
max_heap_table_size = 256M
read_rnd_buffer_size = 64M
sort_buffer_size = 256M
join_buffer_size = 512M
thread_cache_size = 300
log_bin_trust_function_creators=1
key_buffer_size = 256M
read_buffer_size = 32M
read_rnd_buffer_size = 128M
bulk_insert_buffer_size = 512M
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
transaction_isolation = READ-COMMITTED
tmp_table_size = 512M
log-bin=mysql-bin
binlog_format=mixed
binlog_expire_logs_seconds = 604800  #expire_logs_days = 15 老版本配置
slow_query_log = 1
slow_query_log_file = /data/mysql/logs/slow.log
long_query_time = 5

####### InnoDB
innodb_buffer_pool_size = 512M
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 32M
innodb_log_file_size = 1024M
innodb_log_files_in_group = 4
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
#innodb_force_recovery=1

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer = 16M
sort_buffer_size = 16M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
open-files-limit = 65535
log-error=/data/mysql/logs/mysqld.log
pid-file=/data/mysql/logs/mysqld.pid
